$red: #C82440;
$silver: #D3D1D6;
$black: #000000;

html, body {
    height: 100%;
}

html {
  font-size: 62.5%;
}

body {
	background: black;
    color: white;
}


.container {
    position: relative;;
    min-height: 100%;
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

.bracket {
   // border: solid black 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
   align-content: center;
   margin: 25px auto;
   height: 90vh;
   width: 90vw;

}


.column {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   // border: solid red 1px;
   height: 500px;
   // width: 12vw;
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

.name {
   // border: solid orange 1px;
   display: flex;
   height: 10vh;
   width: 100%;
   font-size: 1em;
   color: white;
}

.name-1 {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   border-bottom: solid $silver 2px;
}

.name-2 {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   border-top: solid $silver 2px;

}

.name-3 {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   border-bottom: solid $silver 2px;
   margin-left: auto;
}

.name-4 {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   border-top: solid $silver 2px;

}

.fa {
	color: $red;
	font-size: 0.8em;
}

button {
	padding: 0;
	border: none;
	background: none;
}



.winnerBanner {
	font-size: 2.5em;
	color: white;
}


.space-1 {
   // border: solid orange 1px;
   display: flex;
   border-right: solid $silver 2px;
   height: 10vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.space-2 {
   // border: solid orange 1px;
   display: flex;
   // border-right: solid black 2px;
   height: 10vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.space-3 {
   // border: solid orange 1px;
   display: flex;
   border-right: solid $silver 2px;
   height: 40vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.space-4 {
   // border: solid orange 1px;
   display: flex;
   border-left: solid $silver 2px;
   height: 10vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.space-5 {
   // border: solid orange 1px;
   display: flex;
   // border-right: solid black 2px;
   height: 10vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.space-6 {
   // border: solid orange 1px;
   display: flex;
   border-left: solid $silver 2px;
   height: 40vh;
   width: 100%;
   align-items: center;
   justify-content: center;
}
