<header>
  <div class="navCont">
  <div class="logoPic1">
    <img src="./images/textlogonav.png">
  </div>
  <nav class="nav">
    <a class="logout"><button class="button" ng-click="vm.logOut()">Logout</button></a>
    <a href="/#/">Leaderboards!</a>
    <a href="/#/tourney">New Tournament</a>
    </nav>
</header>

<div class="bracket">
    <div class="column column-1">
        <div class="name name-1">
          <span>{{ vm.matches[0].player1.fullname || '' }}</span>
             <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
        <div class="space space-1">
          <span></span>
        </div>
        <div class="name name-2">
          <span>{{ vm.matches[0].player2.fullname || '' }}</span>
             <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>

        <div class="space space-2">
          <span></span>
        </div>

        <div class="name name-1">
          <span>{{ vm.matches[1].player1.fullname || '' }}</span>
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
        <div class="space space-1">
          <span></span>
        </div>
        <div class="name name-2">
          <span>{{ vm.matches[1].player2.fullname || '' }}</span>
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
    </div>



    <div class="column column-2">
        <div class="name name-1">
        <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
          <span>{{ vm.matches[2].player1.fullname || '' }}</span>
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>

        </div>
        <div class="space space-3">
          <span></span>
        </div>
        <div class="name name-2">
           <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
             <span>{{ vm.matches[2].player1.fullname || '' }}</span>
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
    </div>

    <div class="column column-3">
        <div class="name name-1">
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
           <span>{{ vm.matches[6].player1.fullname || '' }}</span>
          <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
    </div>

    <div class="column column-w">
      <span class="winnerBanner">WINNER</span>
    </div>

    <div class="column column-4">
        <div class="name name-1">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
               <span>{{ vm.matches[6].player2.fullname || '' }}</span>
           <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
    </div>

    <div class="column column-5">
        <div class="name name-3">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[5].player1.fullname || '' }}</span>
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
        <div class="space space-6">
          <span></span>
        </div>
        <div class="name name-4">
           <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[5].player2.fullname || '' }}</span>
           <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-right"></button></a>
        </div>
    </div>

    <div class="column column-6">
        <div class="name name-3">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[3].player1.fullname || '' }}</span>
        </div>
        <div class="space space-4">
          <span></span>
        </div>
        <div class="name name-4">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[3].player2.fullname || '' }}</span>
        </div>

        <div class="space space-5">
          <span></span>
        </div>

        <div class="name name-3">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[4].player1.fullname || '' }}</span>
        </div>
        <div class="space space-4">
          <span></span>
        </div>
        <div class="name name-4">
            <a href="#"><button id="arrow1" class="fa  fa-arrow-circle-left"></button></a>
              <span>{{ vm.matches[4].player2.fullname || '' }}</span>
        </div>
    </div>
</div>
