<div class="bracket">
    <div class="column column-1">
        <div class="name name-1">
          <span>Tony Southern</span>
             <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
        <div class="space space-1">
          <span></span>
        </div>
        <div class="name name-2">
          <span>match 1</span>
             <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>

        <div class="space space-2">
          <span></span>
        </div>

        <div class="name name-1">
          <span>match 2</span>
          <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
        <div class="space space-1">
          <span></span>
        </div>
        <div class="name name-2">
          <span>match 2</span>
          <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
    </div>



    <div class="column column-2">
        <div class="name name-1">
        <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
          <span>match 3</span>
          <button id="arrow1" class="fa  fa-arrow-circle-right"></button>

        </div>
        <div class="space space-3">
          <span></span>
        </div>
        <div class="name name-2">
           <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
             <span>match 3</span>
          <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
    </div>

    <div class="column column-3">
        <div class="name name-1">
          <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
           <span>match 7</span>
          <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
    </div>

    <div class="column column-w">
      <span class="winnerBanner">WINNER</span>
    </div>

    <div class="column column-4">
        <div class="name name-1">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
               <span>match 7</span>
           <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
    </div>

    <div class="column column-5">
        <div class="name name-3">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 6</span>
            <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
        <div class="space space-6">
          <span></span>
        </div>
        <div class="name name-4">
           <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 6</span>
           <button id="arrow1" class="fa  fa-arrow-circle-right"></button>
        </div>
    </div>

    <div class="column column-6">
        <div class="name name-3">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 4</span>
        </div>
        <div class="space space-4">
          <span></span>
        </div>
        <div class="name name-4">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 4</span>
        </div>

        <div class="space space-5">
          <span></span>
        </div>

        <div class="name name-3">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 5</span>
        </div>
        <div class="space space-4">
          <span></span>
        </div>
        <div class="name name-4">
            <button id="arrow1" class="fa  fa-arrow-circle-left"></button>
              <span>match 5</span>
        </div>
    </div>
</div>
