<header>
  <div class="navCont">
  <div class="logoPic1">
    <img src="./images/textlogonav.png">
  </div>
  <nav class="nav">
    <a class="logout"><button class="button" ng-click="vm.logOut()">Logout</button></a>
    <a href="/#/tourney">New Tournament</a>
  </nav>
</div>
</header>

<div class="leaderboard">

	<div class="leaderColumn leaderColumn1">
		<div class="header header-name">Name <hr></div>
		<ol class="leaderName">
			<li class="leaderText ">Tony Soothern</li>
			<li class="leaderText">Ikenna Ugwuh</li>
		</ol>
	</div>

	<div class="leaderColumn leaderColumn2">
		<div class="header header-win">Wins <hr></div>
		<ul class="textdeco">
			<li class="leaderText leaderWin">10</li>
			<li class="leaderText leaderWin">10</li>
		</ul>
	</div>

	<div class="leaderColumn leaderColumn3">
		<div class="header header-losses">Losses <hr></div>
			<ul class="textdeco">
				<li class="leaderText leaderLoss">20</li>
				<li class="leaderText leaderLoss">20</li>
			</ul>
	</div>

	<div class="leaderColumn leaderColumn4">
		<div class="header header-percent">W/L % <hr></div>
			<ul class="textdeco">
				<li class="leaderText leaderPercent">50%</li>
				<li class="leaderText leaderPercent">50%</li>
			</ul>
	</div>


</div>



<!-- <div class="Table">

		<div class="column column1">
		  <div class="Table-row Table-header">
		    <div class="Table-row-item">Header1</div>
		    <div class="Table-row-item">Header2</div>
		    <div class="Table-row-item">Header3</div>
		    <div class="Table-row-item">Header4</div>
		  </div>
		</div>

	<div class="column column2">
	  <div class="Table-row">
	    <div class="Table-row-item" data-header="Header1">row1 col1</div>
	    <div class="Table-row-item" data-header="Header2">row1 col2</div>
	    <div class="Table-row-item" data-header="Header3">row1 col3</div>
	    <div class="Table-row-item" data-header="Header4">row1 col4</div>
	  </div>
	</div>

	<div class="column column3">
	  <div class="Table-row">
	    <div class="Table-row-item" data-header="Header1">row2 col1</div>
	    <div class="Table-row-item" data-header="Header2">row2 col2</div>
	    <div class="Table-row-item" data-header="Header3">row2 col3</div>
	    <div class="Table-row-item" data-header="Header4">row2 col4</div>
	  </div>
	</div>


</div> -->
