<form ng-show="show-login" ng-submit="vm.loginUser(user)">
    <input class="input" type="text" placeholder="User Name" ng-model="user.username">
    <input class="input" type="password" placeholder="Password" ng-model="user.password">
    <button class="button is-success">Login</button>
</form>
<form ng-hide="show-login" ng-submit="vm.createUser(user)">
    <input class="input" type="text" placeholder="First Name" ng-model="user.first_name">
    <input class="input" type="text" placeholder="Last Name" ng-model="user.last_name">
    <input class="input" type="text" placeholder="User Name" ng-model="user.username">
    <input class="input" type="email" placeholder="Email" ng-model="user.email">
    <input class="input" type="password" placeholder="Password" ng-model="user.password">
    <button class="button is-success">Register</button>
</form>
