<header>
  <div class="navCont">
  <div class="logoPic1">
    <img src="./images/textlogonav.png">
  </div>
  <nav class="nav">
    <a class="logout"><button class="button" ng-click="vm.logOut()">Logout</button></a>
    <a href="/#/">Leaderboards!</a>
    </nav>
  </header>

  <!-- <div class="createPlayer">
    <form ng-submit="vm.createPlayer(player)">
      <input class="input" placeholder="Player Name" ng-model="player.name"></input>
      <input class="input" placeholder="Nickname" ng-model="player.nickname"></input>
      <button class="button">Submit</button>
    </form>
  </div> -->

  <div class="playerNumber">
    <span class="playerTitle">How many players are there?</span>
    <button class="button"> 4 </button>
    <button class="button"> 8 </button>
    <button class="button"> 12 </button>
    <button class="button"> 16 </button>
    <button class="button"> 20 </button>
  </div>

  <div class="addPlayer">
    <form>
      <input class="input" placeholder="Name"></input>
      <button class="button">Add</button>
      <button class="button-alt">Start</button>
  </div>
</div>
