<div class="tourney">
  <div class="nav">
<ul>
  <li>New Tournement</li>
  <li>Logout</li>
</ul>
</div>

  <div class="createPlayer">
    <form>
      <input placeholder="Player Name"></input>
      <input placeholder="User Name"></input>
      <button class="submit">Submit</button>
    </form>
  </div>

  <div class="playerNumber">
    <span class="playerTitle">How many players are there?</span>
    <button class="playerNumButton"> 4 </button>
    <button class="playerNumButton"> 8 </button>
    <button class="playerNumButton"> 12 </button>
    <button class="playerNumButton"> 16 </button>
    <button class="playerNumButton"> 20 </button>
  </div>

  <div class="addPlayer">
    <div class="dropdownPlayers">Insert Dropdown menu here<div>
      <ol class="playerList">
        <li>Test object 1</li>
        <li>Test object 2</li>
      </ol>
      <button class="submit">Start</button>
  </div>

</div>
