<header>
  <div class="navCont">
    <div class="logoPic1">
      <img src="./images/textlogonav.png">
    </div>
  </div>
  <nav class="nav">

      <a class="logout"><button class="button" ng-click="vm.logOut()">Logout</button></a>
      <a href="/#/">Leaderboards!</a>

    </nav>
  </header>

  <div class="playerNumber">
    <span class="playerTitle">How many players are there?</span>
    <div class="button-row">
    <button class="button" ng-click="vm.setTourneySize(4)"> 4 </button>
    <button class="button" ng-click="vm.setTourneySize(8)"> 8 </button>
    <button class="button" ng-click="vm.setTourneySize(12)"> 12 </button>
    <button class="button" ng-click="vm.setTourneySize(16)"> 16 </button>
    <button class="button" ng-click="vm.setTourneySize(20)"> 20 </button>
  </div>
</header>

<hr>

  <div class="addPlayer">
    <form class="addPlayerForm">
      <input class="input" placeholder="Enter Player Name" ng-model="player.fullname" ng-keyup="vm.validate(player.fullname)">
      <button class="button" ng-click="vm.createPlayer(player)">Add New Player</button>
      <button class="button-alt">Start</button>
    </form>

  </div>

<div class="playerBox">
  <table class="playerResults" ng-show="vm.playerResults.length">
      <tr ng-repeat="Player in vm.playerResults">
          <td class="player-name">{{ Player.fullname }}</td>
          <td class="nickname">{{ Player.nickname }}</td>
          <td class="add"><button class="button" ng-click="vm.addPlayer(Player.id)">Add to Tournament</button></td>
      </tr>
  </table>
</div>

<hr>

  <div class="playersList">
    <span class="playersTitle">Players</span>
    <hr>
      <ol>
        <li ng-repeat="Player in vm.players"> {{ Player.fullname }} / {{ Player.nickname }}</li>
      </ol>
</div>
